<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>346404043235-5du8dtjrldt981mveqqjr6alnb8gmdfg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.346404043235-5du8dtjrldt981mveqqjr6alnb8gmdfg</string>
	<key>API_KEY</key>
	<string>AIzaSyCyUhzszVCayuS97xuV4zbsy_bWO0rZ4G8</string>
	<key>GCM_SENDER_ID</key>
	<string>346404043235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kanoony</string>
	<key>PROJECT_ID</key>
	<string>kanoony-a79bd</string>
	<key>STORAGE_BUCKET</key>
	<string>kanoony-a79bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:346404043235:ios:a91d3be441715f57ce88d6</string>
</dict>
</plist>